.depositTable{
  table {
    border-collapse: separate; /* 테두리가 겹치지 않도록 설정 */
    border-spacing: 0;
    width: 100%; 
    font-size: .875em;
    td > input[type="text"],
    td > input[type="Date"],
    td > input[type="number"]{
      width: 100%; // 너비를 120%로 설정
      height: 25px;
    }
    select{
      height:25px;
    }
    th{
      position: sticky !important;
      top: 0;
      background-color: white;
      z-index: 3; 
    }
    th:first-child{
      position: sticky;
      left: 0;
      background-color: white;
      z-index: 5; 
    }
    td:has(input[type="checkbox"]):first-child{
      position: sticky;
      left: 0;
      background-color: white;
      z-index: 1; 
    }
  }
}