.accountTable{
  table {
    border-collapse: separate; /* 테두리가 겹치지 않도록 설정 */
    border-spacing: 0; 
    width: 100%; 
    font-size: .875em;
    td[rowSpan] {
      vertical-align: middle;
      text-align: center;
    }
    td > input[type="text"],
    td > input[type="Date"],
    td > input[type="number"] {
      width: 100%;
      height: 25px;
    }
    th{
      position:sticky !important;
      top: 0;
      background-color: white; 
      z-index: 3; 
    }
    tbody>tr:first-child{
      position:sticky !important;
      top: 48px;
      background-color: white;
      z-index: 3; 
    }
    tbody>tr:nth-child(2){
      position :sticky;
      top: 95px;
      background-color: white; 
      z-index: 2; 
    }
    th:first-child,
    td[rowSpan]:first-child{
      position: sticky;
      left: 0;
      background-color: white;
      z-index: 5; 
    }
    td:has(input[type="checkbox"]):first-child{
      position: sticky;
      left: 0;
      background-color: white;
      z-index: 1; 
    }
  }

}